$primary: #5271FF;
$secondary: #51A1FF;
$danger: #FF5757;
$success: #7ED957;
$black: #3b3b3b;
$grey: #DFDFDF;
$dark-grey: #A4A4A4;

body {
    margin: 0;
    font-family: 'Rethink Sans', 'Inter', sans-serif;
}