@use "../index.scss";

#patient-page {
    display: flex;
    flex-direction: row;

    #filter {
        flex: 1;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: index.$black;

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            #illness, #name {
                width: 70%;
                height: 50px;
                border: index.$grey solid 3px;
                border-radius: 20px;
                font-size: 1.5rem;
                margin-bottom: 0.7rem;
                box-shadow: 2px 2px 2px index.$grey;
            }

            .form-column-container {
                width: 70%;
                display: flex;
                justify-content: space-between;

                select {
                    width: 45%;
                    height: 50px;
                    font-size: 1.3rem;
                    border: index.$grey solid 3px;
                    border-radius: 10px;
                    padding-left: 0.8rem;
                    box-shadow: 2px 2px 2px index.$grey;
                }
            }

            button {
                margin-top: 2rem;
                font-size: 1.5rem;
                padding: 0.5rem 1.5rem;
                color: white;
                font-weight: bold;
                background-color: index.$secondary;
                border: none;
                border-radius: 100px;
                box-shadow: 5px 5px 5px index.$grey;
            }
        }
    }

    #patient-list {
        flex: 2;
        
        #title-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5rem;

            h1 {
                font-size: 3rem;
                color: index.$black;
            }

            button {
                font-size: 2rem;
                padding: 1rem 1.5rem;
                color: white;
                font-weight: bold;
                background-color: index.$secondary;
                border: none;
                border-radius: 100px;
                box-shadow: 5px 5px 5px index.$grey;
            }
        }
    }

    #patient-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 3rem;

        #table-head {
            display: flex;
            width: 90%;
            align-items: center;
            gap: 2rem;
            margin-bottom: 0.5rem;

            div {
                flex: 1;
                text-align: center;
                color: index.$dark-grey;
                font-size: 1.6rem;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    #patient-page {
        display: flex;
        flex-direction: column;
        
        #patient-list {
            #title-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 5rem;
    
                h1 {
                    font-size: 3rem;
                    color: index.$black;
                }
    
                button {
                    font-size: 1.5rem;
                    padding: 1rem 1.5rem;
                    color: white;
                    font-weight: bold;
                    background-color: index.$secondary;
                    border: none;
                    border-radius: 100px;
                    align-self: center;
                }
            }
        }
    
        #patient-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
    
            #table-head {
                display: flex;
                width: 80%;
                align-items: center;
                gap: 2rem;
                margin-bottom: 0.5rem;
                align-self: center;
    
                div {
                    flex: 1;
                    text-align: center;
                    color: index.$dark-grey;
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }
    }
}